<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name = "person" class = "spring_boot_basics.Person"></bean>
     <bean name = "e" class = "spring_boot_basics.Employee">
     	<property name="id" value="10" ></property>
     	<property name="name" value="ABC" ></property>
     	<property name="Sal" value="100000" ></property>
     </bean>
     
     

</beans>





















